<div class="content-wrapper">
  <section class="content-header">
    <h1>Telegram Control</h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-body">
            <div class="form-group">
              <label class="control-label col-sm-2" for="scenario_uri">Scenario URI</label>
              <div class="col-sm-10">
                <input type="text" (input)="scenarioURI = $event.target.value" class="form-control" placeholder="Scenario URI" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="token">Token</label>
              <div class="col-sm-10">
                <input type="text" (input)="token = $event.target.value" class="form-control" placeholder="Token" />
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button type="button" class="btn btn-danger btn-flat" (click)="onStop()">Stop</button>
            <button type="button" class="btn btn-primary btn-flat" (click)="onStart()">Start</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
