<li class="header">Main Menu</li>
<li class="treeview">
  <a href="#">
    <i class="fa fa-telegram"></i>
    <span>Telegram</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li>
      <a [routerLink]="['/telegram-control']" [routerLinkActive]="['active']">
        <i class="fa fa-circle-o"></i> Control
      </a>
    </li>
    <li>
      <a [routerLink]="['/telegram-callback-data']" [routerLinkActive]="['active']">
        <i class="fa fa-circle-o"></i> Callback Data
      </a>
    </li>
    <li>
      <a [routerLink]="['/telegram-message-data']" [routerLinkActive]="['active']">
        <i class="fa fa-circle-o"></i> Message Data
      </a>
    </li>
  </ul>
</li>
