<div class="login-box">
  <div class="login-logo">
    <a [routerLink]="['/login']"><b>M</b>ARSHA</a>
    <h5>Arsha Management User Interface</h5>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Login to Your Account</p>

    <form (ngSubmit)="onSubmit(loginForm.value)" [formGroup]="loginForm">
      <div class="form-group has-feedback">
        <input type="username" formControlName="username" class="form-control" placeholder="Username">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" formControlName="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Log In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
