<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <img src="assets/user-deep.png" class="user-image" alt="User Image">
  <span class="hidden-xs">Administrator</span>
</a>
<ul class="dropdown-menu">
  <!-- User image -->
  <li class="user-header">
    <img src="assets/user-deep.png" class="img-circle" alt="User Image">

    <p>
      Administrator
      <!-- <small>Member since Nov. 2012</small> -->
    </p>
  </li>
  <!-- Menu Footer-->
  <li class="user-footer">
    <div class="pull-right">
      <a href="#" (click)="logout()" class="btn btn-default btn-flat">Log Out</a>
    </div>
  </li>
</ul>
