<div class="content-wrapper">
    <section class="content-header">
      <h1>Telegram Message Data</h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-body">
              <ngx-datatable
                class="material fullscreen"
                [rows]="rows | async"
                [footerHeight]="30"
                [limit]="10"
                [scrollbarH]="true">
                <ngx-datatable-column name="Message ID" prop="message_id"></ngx-datatable-column>
                <ngx-datatable-column name="Text" prop="text"></ngx-datatable-column>
                <ngx-datatable-column name="Photo ID" prop="photo.file_id"></ngx-datatable-column>
                <ngx-datatable-column name="[From] ID" prop="from.id"></ngx-datatable-column>
                <ngx-datatable-column name="[From] First Name" prop="from.first_name"></ngx-datatable-column>
                <ngx-datatable-column name="[From] Last Name" prop="from.last_name"></ngx-datatable-column>
                <ngx-datatable-column name="[From] Username" prop="from.username"></ngx-datatable-column>
                <ngx-datatable-column name="Timestamp" prop="date"></ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
